<!-- views/users/show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <div class="container mb-3">
    <h3 class="contentBoxTop"><%= user.username %></h3>

    <form action="/users" method="post" class="user-form">
      <fieldset disabled>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">이름</label>
          <div class="col-sm-9">
            <input type="text" id="name" name="name" value="<%= user.name %>" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">이메일</label>
          <div class="col-sm-9">
            <input type="text" type="text" id="email" name="email" value="<%= user.email %>" class="form-control">
          </div>
        </div>
      </fieldset>
    </form>

    <div>
      <% if(isAuthenticated && currentUser.id == user.id) { %>
        <a href="/users" class="btn btn-primary">이전</a>
        <a href="/users/<%= user.username %>/edit" class="btn btn-primary">수정</a>

        <form action="/users/<%= user.username %>?_method=delete" method="post" class="d-inline">
          <a href="javascript:void(0)" class="btn btn-primary" onclick="confirm('정말로 삭제하시겠습니까?') ? this.parentElement.submit() : null;">삭제</a>
        </form>
      <% } %>
    </div>

  </div>
</body>
</html>